html {
  background-color:black;
  font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
  line-height: 1.5;
  font-weight:400;
  color:#C7C9D3;
  margin:0px;
}

strong {
  color:white;
}

h1,h2,h3,h4,h5 {
  color: white;
  font-family: 'Tahoma', sans-serif;
  font-weight:900;
}

/*navigation */

header {
  display:flex;
  flex-wrap:nowrap;
  width:100%;
}

.searchbar input {
  background-color:#252830;
  display:inline-block;
  border: none;
  border-radius: 4px;
  color:#C7C9D3;
  font-weight: bold;
  font-size:20px;
  padding:4px 8px;
  margin:0px 16px;
}

nav {
  background:#1E1F26;
  width:200px;
  height:100%;
  position:fixed;
  margin-left: 0px;
  text-align:center;
}
img {
  width: 200px;
  position:-1;
}

nav p {
  margin-bottom:1px;
  font-size:12px;
}

nav ul {
  text-align:left;
  list-style:none;
  color:white;
}

nav a {
  color:white;
}

nav li:hover {
  background:black;
  margin-left:0px;
  width:100%;
}

.extra-menu a {
  color:#C7C9D3;
}

main {
  margin-left:220px;
}




/* Buttons*/

 .try-button {
   background:black;
   color:white;
   border: solid 3px;
   border-radius:8px;
   padding:10px 20px;
   font-size:16px;
   border-image:   linear-gradient(to right,green 25%, yellow 25%, purple 50%, blue 75%, teal 75%) 5;
   margin-top:-1px;
}
 
 .classic {
  background:#2FB45A;
  color:black;
  font-size: 16px;
  font-weight:bold;
  font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif; 
  padding:8px;
  border: none;
  border-radius: 3px;
}

.alternate {
  background: rgb(82, 79, 79);
  color:white;
  font-size: 14px;
  padding: 10px;
  border:none;
  border-radius: 3px;
}

 .plain-btn {
  background:#1E1F26;
  border: 2px solid white;
  color:white;
  padding:8px;
  font-size:16px;
  border-radius: 4px;
}

.plain-btn:hover {
  background-color:white;
  color:black;
}

.button-pos {
  text-align:center;
}





/*Body*/

a,.location {
  text-decoration: none;
  color:#76daff;
}

.showcase1 {
  display:flex;
  justify-content:space-around;
}

 .main-message {
  margin-right:75px;
  margin-left:30px;
  order: -1;
  width:40%;
}

img {
  width:40%;
}

.trio-boxes {
  display:flex;
  justify-content:space-between;
  min-height:400px;
}

.trio-box {
  background-color:#2C303A;
  margin: 40px 20px;
  border-radius:8px;
  padding: 20px;
  width:30%;
}


.showcase-teaser-container {
  background-color:#1E1F26;
  padding-top:50px;
  padding-bottom:4px;
  margin-top:40px;
  margin-left:-18px;
}

.standalone {
  text-align:center;
}

.showcase2 {
  display:flex;
  justify-content:space-between;
  margin-top: 100px;
}

.showcase2 ul {
  order:-1;
  width:40%;
  list-style:disc;
}

.showcase2 li {
 margin: 20px 0px;
}

.showcase2 img {
  width:60%;
  min-height: 400px;
}

.show-and-tell {
display:flex;
justify-content: space-evenly;
margin: 50px 0px;
flex-wrap:wrap;
}

.show-and-tell img {
  margin: 20px 30px;
  width:25%;
}

.show-and-tell .teaser {
  margin: 0px 30px;
  width:25%;
}

.library-buttons-container {
  display:flex;
  justify-content:space-between;
  margin-top:60px;
}

.library-buttons {
  width:16.67%;
}

.library-button {
  width:16.67%;
  order:-6;
}

.team-box {
  background-color:#1E1F26;
  text-align:center;
  border-radius:6px;
  padding:30px;
}

.team-box p {
  width:50%;
  margin:auto;
  margin-bottom: 10px;
  font-size: 14px;
}

.team-box img {
  width:70%;
}

.jobs {
  display:flex;
  margin-top: 50px;
}

.jobs .teaser {
  width:50%;
  margin: 40px;
  align-self: center;
}

.listing:hover {
  background-color:#1E1F26;
  padding:10px;
  width:400px;
}

.listing .location:hover {
  color:white !important;
}


.summary-box .alternate {
  padding: 0px 20px;
  width:100%;
  height:40px;
}


.summary-box-container {
  display:flex;
  margin-top: 50px;
  justify-content:space-between;
}

.summary-box {
  width:30%;
}

.site-maps {
  background-color:black;
}

.map ul {
  display:flex;
  list-style: none;
}

.map li {
    margin: 0px 5px;
}


.map  {
  display:flex;
  margin: 50px 0px;
}



